language: python
dist: trusty
sudo: required

python:
  - 3.6

cache: pip

services:
  - mysql

addons:
  hosts:
    - test_site

git:
  depth: 1

install:
  - source ~/.nvm/nvm.sh
  - nvm install v8.10.0

  - git clone https://github.com/adityahase/bench --depth=1 --branch=fix-print
  - pip install -e ./bench


  - rm $TRAVIS_BUILD_DIR/.git/shallow
  - sudo sh -c 'cat $TRAVIS_BUILD_DIR/my.cnf >> /etc/mysql/conf.d/my.conf'
  - sudo service mysql restart
  - cd ~/ && bench init frappe-bench --python $(which python)  --verbose --skip-assets --frappe-path $TRAVIS_BUILD_DIR
  - cp -r $TRAVIS_BUILD_DIR/test_sites/test_site ~/frappe-bench/sites/

before_script:
  - cd ~/frappe-bench
  - bench start &
  - sleep 10

script:
  - mysql -u root -e "UPDATE mysql.user SET Password=PASSWORD('travis') WHERE User='root'; FLUSH PRIVILEGES;"
  - mysql -u root -ptravis -e "create database test_frappe"
  - mysql -u root -ptravis -e "USE mysql; CREATE USER 'test_frappe'@'localhost' IDENTIFIED BY 'test_frappe'; FLUSH PRIVILEGES;"
  - mysql -u root -ptravis -e "USE mysql; GRANT ALL PRIVILEGES ON \`test_frappe\`.* TO 'test_frappe'@'localhost';"

  - bench --site test_site reinstall --yes
  - bench --site test_site scheduler disable
  - bench --site test_site run-tests --coverage
